div{
    width: 94%;
    height: 10em;
    color: #e7ffea;
    background-color: #0120056b;
    border-color: #000000;
    border-left-color: #003a09;
    border-right-color: #003a09;
    border-width: 5px;
    padding: 2px;
    font-size: 1em;
    margin-top: 3px;
}

p, a {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2px;
    align-content: center;
    text-align: center;
}

a {

    color: #bbffc3;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

b {
    font-size: 1.1em;
    font-weight: bold;
}

button {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2px;
    align-content: center;
    text-align: center;
    color: #bbffc3;
    background-color: #004e0a00;
    font-size: 1.3em;
    font-weight: bold;
    border-color: #004e0a00;
}